* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .final {
    background-color: #1d0a4c;
    height: 100vh;
  }
  
  .final-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .final-wrapper >h3{
    color: #7f7676;
  }